<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="八代市 八代港 くまモンポート くまモンパーク おもてなし">
    <meta name="description" content="くまもんポートについての紹介">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style_pc.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/style_sp.css">

    <title>くまモンポートにようこそ</title>

<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script type="text/javascript" src="../static/js/common.js"></script>

</head>
<body>
    <div class="test0">
    <a href="/index"><h1>くまポート</h1></a>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>