{% extends 'base.html' %}
{% block content %}

<div id = "big-pic">
    <p>ようこそ、<br>
    八代。</p>
</div>
<div id="guzai">
    <div id = "contents">
        <div id="con_title">
            <img src="../static/img/コンテンツタイトル.png">
        </div>
        <div id="con_area">
            <div class="content" id = "content1">
                <a href="/port"><img src="../static/img/バナー1.jpg"></a>
            </div>
            <div class="content" id = "content2">
                <a href="/kumamon"><img src="../static/img/バナー2.png"></a>
            </div>
            <div class="content" id = "content3">
                <a href="/now"><img src="../static/img/バナー3.jpg"></a>
            </div>
            <div class="content" id = "content4">
                <a href="/pictures"><img src="../static/img/バナー4.jpg"></a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div id="thanks_link">
    <p>◎素材をお借りしたサイト◎</p>
    <a href="https://kumamon-official.jp/default.html">くまモンオフィシャルホームページ</a>
    <a href="https://www.canva.com/">Canva</a>
    <a href="http://sozai.akuseru-design.com/">超シンプル素材集（AkuseruDesign様）</a>
    <a href="http://umetouguisu.wp.xdomain.jp/">梅に鶯（歌詠様）</a>
    </div>

    <p id="copyright">@St</p>
</footer>


{% endblock %}