{% extends 'base.html' %}
{% block content %}

<div id="kumamon_page">
<h2 id="kumamon_title">くまモンとは？</h2>

<div id="kumamon_contents">
    <div id="kumamon_pic">
        <!-- デフォルトで452*630 -->
        <img src="../static/img/3_1653_up_j8mrq76d.gif" alt="くまモン" width="100%" border="0" />
    </div>
    <div id="kumamon_text">
        <p>2011年3月、九州新幹線全線開業の日に誕生。<br>
        蒲島知事から任命されて、熊本県の営業部長兼しあわせ部長に抜擢された。<br>
        年齢は秘密。5歳説、9歳説などがあるが真相は不明。</p>
        <br>
        <p>誕生してまもなく、全国へと熊本県をPR、SNSを活用したこまめな宣伝を開始。現在も活躍中。<br>
        <br>
        大型クルーズ船の受け入れ施設である、「くまモンポート八代」の顔役として施設の名前になったのは、中国や台湾でも高い人気を獲得したからだモン。</p>
    </div>
</div>

<p class="sb_tl">デビュー10年目も元気に踊るモン</p>
<div id="kumamon_contents_2">
    <div id="dancing_kumamon">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oErUS7UEDMk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="back_i">
    <a href="/index">戻る</a>
</div>

</div>

{% endblock %}