{% extends 'base.html' %}
{% block content %}
<div id="now_page">
<h2 id="now_title">くまモンポートの現在</h2>

<div id="now_contents">
    <div id="now_text">
        <p>令和2年4月のオープンを予定していたくまモンポート八代。<br>
        しかし、新型コロナウイルス感染症の流行により、利用開始の延期が決定された。<br><br>
        現在のくまモンポートは立ち入り禁止となっており、一般人の入場は認められていない。</p>
    </div>
    <div id="now_pic">
        <!-- デフォルトで1000*664 -->
        <!-- <img src="../static/img/IMGP3410.JPG" alt="駐車場" width="500px" height="332px" border="0" /> -->
        <img src="../static/img/IMGP3410.JPG" alt="駐車場" width="100%" border="0" />
    </div>
</div>

<h2 class="add_text">10/23 追記</h2>
<div id="now_contents_2">
    <div id="now_pic_2">
        <img src="../static/img/3_1653_up_d7lce62e.gif" alt="くまモン" width="100%" border="0" />
    </div>
    <div id="now_text_2">
        <p>10月21日、熊本県から同月31日のプレオープンが発表された。<br>
        <br>
        当初は八代市民限定での公開で、翌月の28日以降は対象を熊本県民へと広げる。<br>
        定例記者会見における樺島郁夫知事は、全国対象のグランドオープンについて、新型コロナウイルスの感染状況や、クルーズ船の寄港状況を見て判断する意向を述べた。</p>
    </div>
</div>

<div class="back_i">
    <a href="/index">戻る</a>
</div>

</div>
{% endblock %}