{% extends 'base.html' %}
{% block content %}
<div id="port_page">
    <h2 id="port_title">くまモンポート八代について</h2>

    <div id="port_contents">
        <div id="port_text">
            <p>八代港の一角に、約8ヘクタールの広大な敷地を有するくまモンポート八代は、「南九州のゲートウェイ国際港湾八代港」を目標に建造された大型クルーズ船停泊拠点。<br>
                80体超えるくまモン、多目的芝生広場や日本庭園、竹林の道、ミニ神社など、旅行客も地元住民も楽しめる憩いの施設となっている。<br>
                グルメやグッズ販売も計画中。</p>
            <br>
            <div id="port_t_l">
                <ul>
                    <li>開演時間は9:00～17:00</li>
                    <li>入園無料、駐車場無料</li>
                    <li>定休日は水曜日</li>
                </ul>
            </div>
        </div>
        <div id="port_pic">
            <!-- デフォルトで1024*768 -->
            <img src="../static/img/IMG_8972.jpg" alt="港" width="100%" border="0" />
        </div>
    </div>

    <div id="port_contents_2">
        <div id="port_d">
            <p class="sb_tl">八代港クルーズ拠点完成イメージ動画</p>
            <!-- 元サイズ560*315 -->
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Zw5wmv_76iY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br>
    <div id="access">
        <p class="sb_tl">交通アクセス</p>
        <!-- 元サイズ600*450 -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13455.721034590584!2d130.53740617417532!3d32.528009567991546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354079680cc69383%3A0xc20f45ce1e4dba46!2z44GP44G-44Oi44Oz44Od44O844OI5YWr5Luj!5e0!3m2!1sja!2sjp!4v1603470663817!5m2!1sja!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
    </div>

    <div class="back_i">
        <a href="/index">戻る</a>
    </div>

</div>
{% endblock %}